<div *ngIf="planet">
  <app-modal id="planet-modal">
    <ng-template #headerTemplate>
      Planet:
    </ng-template>
    <ng-template #contentTemplate>
      <div >
        <div class="card__text-basic card-detail__basic-data modal-data" style="padding: 0">

          <!-- NAME -->
          <div class="modal-data__category">
            <p class="text-category">Name: </p>
            <p>{{planet?.name}}</p>
          </div>

          <!-- DIAMETER -->
          <div class="modal-data__category">
            <p class="text-category">Diameter: </p>
            <p>{{planet.diameter}}</p>
          </div>
          
          <!-- ROTATION PERIOD -->
          <div class="modal-data__category">
            <p class="text-category">Rotation Period: </p>
            <p>{{planet.rotation_period}}</p>
          </div>
          
          <!-- ORBITAL PERIOD -->
          <div class="modal-data__category">
            <p class="text-category">Orbital Period: </p>
            <p>{{planet.orbital_period}}</p>
          </div>
          
          <!-- GRAVITY -->
          <div class="modal-data__category">
            <p class="text-category">Gravity: </p>
            <p>{{planet.gravity}}</p>
          </div>

          <!-- POPULATION -->
          <div class="modal-data__category">
            <p class="text-category">Population: </p>
            <p>{{planet.population}}</p>
          </div>

          <!-- CLIMATE -->
          <div class="modal-data__category">
            <p class="text-category">Climate: </p>
            <p>{{planet.climate}}</p>
          </div>

          <!-- TERRAIN -->
          <div class="modal-data__category">
            <p class="text-category">Terrain: </p>
            <p>{{planet.terrain}}</p>
          </div>

          <!-- SURFACE WATER -->
          <div class="modal-data__category">
            <p class="text-category">Surface Water: </p>
            <p>{{planet.surface_water}}</p>
          </div>

        </div>
      </div>
    </ng-template>
  </app-modal>
</div>
