/* You can add global styles to this file, and also import other style files */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, FontAwesome,"Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

html,
body {
    height: 100%;
    position: relative;
}

// body {
//     background-image: url('../src/assets/image/star_background.jpg');
//     background-position: center;
//     background-size: cover;
// }