<section class="background-img">

  <div class="character-list">
    <!-- PAGE TITLE -->
    <p class="page-title">
      List of Characters
    </p>
  
    <div class="character-list__filters">
      <!-- SEARCH FILTER -->
      <div>
        <app-search-filter (searchEvent)="searchCharactersByName($event)"></app-search-filter>
      </div>

      <!-- FILTER BUTTON -->
      <div>
        <button class="btn btn-filters" (click)="characterFilter.openModal()">Filters</button>
        <app-filter-options #characterFilter (filterOptionsEvent)="filterCharactersByOptions($event)"></app-filter-options>
      </div>
    </div>
    
    
    <div class="loader" *ngIf="isLoading"></div>

    <!-- CHARACTER CARDS LIST -->
    <div class="align-center">
      <div class="character-list__card">
        <ng-container *ngFor="let character of filteredCharacters | slice: startLimit:endLimit">
          <app-card-list
            [character]="character"
          ></app-card-list>
        </ng-container>
      </div>
    </div>

    <!-- PAGINATION -->
    <div class="align-right pg-padding">
      <app-pagination
        [setPagination]="{'itemsCount': numberOfCharactersFiltered, 'pageSize': 8, 'pageNumber': currentPage}"
        (goToPage)="changePages($event)"
      ></app-pagination>
    </div>
  </div>
</section>