//
// Buttons
// --------------------------------

.btn {
    background-color: $color-primary-yellow;
    color: $color-black;
    border-radius: 5rem;
    font-size: 1.1rem;
    outline: none;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: $color-light-yellow;
        color: $color-black;
    }
}

.btn-pagination {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 100%;
    margin-right: 0.3rem;
}

.btn-filters {
  width: 13vh;
  height: 5vh;

  &--reset {
    width: 13vh;
    height: 5vh;
    background-color: $color-red;

    &:hover {
      background-color: $color-white-red;
    }
  }
}



//
// Close Button
// -----------------------
.btn-close {
    position: absolute;
    right: 28vh;
    top: 18vh;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;
  }
  .btn-close:hover {
    opacity: 1;
  }
  .btn-close:before, .btn-close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 25px;
    width: 2px;
    background-color: #333;
  }
  .btn-close:before {
    transform: rotate(45deg);
  }
  .btn-close:after {
    transform: rotate(-45deg);
  }



// Card Detail Modal Button
// --------------------------------

.btn-card--detail {
  background-color: $color-medium-blue;
  color: $color-white;
  width: 9rem; 
  height: 3rem;
  border-radius: 6px;

  &:hover {
    background-color: $color-blue;
    color: $color-white;
  }
}