//
// Buttons
// --------------------------------

.btn {
    background-color: $color-primary-yellow;
    color: $color-black;
    border-radius: 5rem;
    font-size: 2rem;
    outline: none;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: $color-light-yellow;
        color: $color-black;
    }
}

.btn-pagination {
    width: 2.5rem;
    height: 2.4rem;
    border-radius: 100%;
    margin-right: 0.7rem;
}

.btn-filters {
  width: 10rem;
  height: 3.6rem;
}



//
// Close Button
// -----------------------
.btn-close {
  position: absolute;
  right: 21rem;
  top: 12rem;
  width: 3.2rem;
  height: 3.2rem;
  opacity: 0.3;
  cursor: pointer;
}

.btn-close:hover {
  opacity: 1;
}
.btn-close:before, .btn-close:after {
  position: absolute;
  left: 1.5rem;
  content: ' ';
  height: 2.5rem;
  width: 0.2rem;
  background-color: $color-light-gray;
}
.btn-close:before {
  transform: rotate(45deg);
}
.btn-close:after {
  transform: rotate(-45deg);
}


// Card Detail Modal Button
// --------------------------------

.btn-card--detail {
  background-color: $color-medium-blue;
  color: $color-white;
  width: 15rem; 
  height: 5rem;
  border-radius: 6px;

  &:hover {
    background-color: $color-blue;
    color: $color-white;
  }
}

@media(max-width: 600px) {
  .btn-pagination {
    width: 2.5rem;
    height: 2.4rem;
    border-radius: 100%;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  .btn-close {
    right: 6rem;
    top: 13rem;
  }
}