//
// Buttons
// --------------------------------

.btn {
    background-color: $color-primary-yellow;
    color: $color-black;
    border-radius: 5rem;
    font-size: 1.1rem;
    outline: none;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: $color-light-yellow;
        color: $color-black;
    }
}

.btn-pagination {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 100%;
    margin-right: 0.3rem;
}

// .btn-filter {

// }