.filter {

    &__input {
        border-radius: 100px;
        border: none;
        outline: none;
        height: 3.7rem;
        width: 23rem;
        padding-left: 1.3rem;
        font-size: 1.7rem;

        &:focus {
            box-shadow: 0 0 1rem $color-green;
        }
    }

    &-category {
        padding-bottom: 2rem;
    }

    &-options {

        &__items{
            display: block;
            padding-left: 1rem; 
            padding-top: 0.667rem;
            font-size: 1.5rem;

            &--input {
                border: 1px solid $color-white-darker-gray;
                border-radius: 4px;
                width: 6.67rem;
                height: 2.67rem;
                font-size: 1.7rem;

                &-select {
                    border: 1px solid $color-white-darker-gray;
                    border-radius: 4px;
                    height: 2.67rem;
                    font-size: 1.7rem;
                    width: 12rem;
                    background-color: $color-white;
                }
            }

            label {
                margin-right: 1.2rem;
                margin-bottom: 0.5rem;
            }
        }
    }
}



@media(max-width: 600px) {
    .filter {
        &__input {
            border-radius: 100px;
            border: none;
            outline: none;
            height: 3.7rem;
            width: 14rem;
            padding-left: 1.3rem;
            font-size: 1.7rem;
    
            &:focus {
                box-shadow: 0 0 1rem $color-green;
            }
        }
    }
}