// Colors
$color-black: #000000;
$color-darker-gray: #212529;
$color-light-gray: #333;
$color-green: rgb(0, 255, 0);
$color-blue: #007AFF;
$color-medium-blue: #0038FF;
$color-darker-blue: rgb(11, 11, 184);
$color-primary-yellow: #FFC107;
$color-light-yellow: rgb(252, 212, 93);
$color-red: rgb(255, 46, 46);
$color-white-red: rgb(255, 97, 97);
$color-white: #ffffff;
$color-white-gray: #F0F0F0;
$color-white-darker-gray: #c9ced6;