// Colors
$color-black: #000000;
$color-gray: #212529;
$color-blue: #007AFF;
$color-darker-blue: rgb(11, 11, 184);
$color-primary-yellow: #FFC107;
$color-light-yellow: rgb(252, 212, 93);
$color-white: #ffffff;
$color-white-gray: #F0F0F0;