.card-detail {
    width: 190vh;
    height: 50vh;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 10px;

    &__text {
        font-size: 3.5vh;
        &--name {
            font-size: 9vh;
            font-weight: 600;
            margin-bottom: 1.8rem;
            text-decoration: underline;
        }

        &-basic {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            color: rgb(11, 11, 184);

            &--category {
                font-weight: 500;
                color: black;
                margin-right: 0.2rem;
            }
        }
    }
}

.text-inline {
    display: flex;
    margin-right: 1.3rem;
}