<div class="modal-detail">
  <div class="modal-detail__body">

    <!-- MODAL HEADER -->
    <div class="modal-detail__body--header">
      <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
    </div>

    <!-- CLOSE BUTTON -->
    <span class="btn-close" (click)="close()"></span>
    <hr>

    <!-- MODAL CONTENT -->
    <div class="modal-detail__body--content">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </div>
  </div>
</div>
<div class="modal-background"></div>