<div class="character-list">
  <!-- PAGE TITLE -->
  <p class="page-title">
    List of Characters
  </p>

  
  <!-- SEARCH FILTER -->
  <div style="padding: 100px 100px 0px 100px;">
      <app-search-filter (searchEvent)="searchCharactersByName($event)"></app-search-filter>
      <app-pagination
        [setPagination]="{'itemsCount': numberOfCharactersFiltered, 'pageSize': 8}"
        (goToPage)="changePages($event)"
      ></app-pagination>
  </div>
  
  <div class="col-md-2">
    <button class="btn">Filter</button>
  </div>
  
  <div class="align-center">
    <div class="character-list__card">
      <!-- CHARACTER CARD LIST -->
      <ng-container *ngFor="let character of filteredCharacters | slice: startLimit:endLimit">
        <app-card-list
          [character]="character"
        ></app-card-list>
      </ng-container>
    </div>
  </div>
</div>