<div class="character-detail">
  <!-- PAGE TITLE -->
  <p class="page-title">
    List of Characters
  </p>

  <!-- SEARCH FILTER -->
  <div class="col-md-2" style="padding: 100px 100px 0px 100px;">
    <app-search-filter (searchEvent)="searchCharacters($event)"></app-search-filter>
  </div>
  
  <div class="col-md-2">
    <button class="btn">Filter</button>
  </div>
  
  <div class="col-md-8" style="padding: 30px 100px 100px 100px;">
    <!-- CHARACTER CARD LIST -->
    <ng-container *ngFor="let character of charactersList">
      <app-card-list
        [character]="character"
      ></app-card-list>
    </ng-container>
  </div>
</div>