.character-list {
    &__card {
        display: grid;
        grid-template-columns: 270px 270px 270px 270px;
        grid-gap: 20px 50px;
        height: 100vh;
    }

    &__filters {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 6vh 16vh;
    }
}

