/* MODAL STYLES
-------------------------------*/

.modal {
    &-detail {
        /* modal container fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        /* z-index must be higher than modal-background */
        z-index: 1000;
        
        /* enables scrolling for tall modals */
        overflow: auto;

        &__body {
            padding: 2rem;
            background: $color-white;
            border-radius: 1rem;
            border: 0.3rem solid $color-blue;
            width: 100rem;

            /* margin exposes part of the modal background */
            margin: 4rem;
            margin-top: 10rem;
            margin-left: 20rem;

            animation: moveInTop 0.7s ease;

            &--header {
                padding-top: 0.67rem;
                font-weight: 500;
                font-size: 4.3rem;
                margin-bottom: 0.67rem;
            }

            &--content {
                padding-top: 2rem;
            }
        }
    }

}


.modal-data {
    div {
        margin-bottom: 2rem;
    }

    p {
        font-size: 2rem;
    }

    &__category {
        display: inline-block;
        margin-right: 3rem;
        font-size: 2rem;
    }
}


.modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* semi-transparent black  */
    background-color: $color-black;
    opacity: 0.75;
    
    /* z-index must be below modal and above everything else  */
    z-index: 900;
}
body.modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}

@media(max-width: 600px) {
    .modal {
        &-detail {
            &__body {
                width: 32rem;
                margin-left: 3rem;
            }
        }
    }
}

@media(max-width: 1920px) {
    .modal {
        &-detail {
            &__body {
                width: 155rem;
            }
        }
    }
}