.card-detail {
    &__category-title {
        display: flex;
        padding-top: 0.667rem;
        padding-left: 3vh;
        font-weight: 500;
        font-size: 3.2rem;
        margin-bottom: 0.667rem;
        color: black;
    }
}