// Page detail styles
// ----------------------------

.character-detail {
    &__card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}