.align-center {
    display: flex;
    align-content: center;
    justify-content: center;
}

.align-right {
    align-content: center;
    display: flex;
    justify-content: flex-end;
}

.text-inline {
    display: flex;
    width: 230px;
}