.align-center {
    display: flex;
    align-content: center;
    justify-content: center;
}

.align-right {
    align-content: center;
    display: flex;
    justify-content: flex-end;
}

.text-inline {
    display: flex;
    width: 230px;
}

.flex {
    display: flex;
}

.mr-2 {
    margin-right: 20px
}

.mr-3 {
    margin-right: 30px
}

.mb-1 {
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 20px;
}

app-modal {
    display: none;
}