a {
    text-decoration: none;
}

.page-title {
    text-align: center;
    font-size: 5rem;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 1.3rem;
    text-shadow: 0 0 8px $color-primary-yellow;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $color-primary-yellow;
}