<section class="background-img">
  <div class="character-detail">
    <!-- PAGE TITLE -->
    <p class="page-title">
      Character Details
    </p>

    <!-- CHARACTER CARD DETAILS -->
    <div class="character-detail__card pd-top">
      <div>
        <app-card-detail
          [character]="character"
          (filmEvent)="openFilmModal($event)"
          (planetEvent)="openPlanetModal($event)"
          (specieEvent)="openSpecieModal($event)"
          (starshipEvent)="openStarshipModal($event)"
          (vehicleEvent)="openVehicleModal($event)"
        ></app-card-detail>
      </div>
    </div>
  </div>

  <!-- FILM MODAL -->
  <app-film-modal #filmModal></app-film-modal>

  <!-- PLANET MODAL -->
  <app-planet-modal #planetModal></app-planet-modal>
  
  <!-- SPECIE MODAL -->
  <app-specie-modal #specieModal></app-specie-modal>

  <!-- STARSHIP MODAL -->
  <app-starship-modal #starshipModal></app-starship-modal>

  <!-- VEHICLE MODAL -->
  <app-vehicle-modal #vehicleModal></app-vehicle-modal>

</section>
